<%- include("header"); -%>

<h1>This is a about page.</h1>

<p>jhbahb bnafbnajkc c c    nbjbfkjbac ac abcvbcnac vdsvv asacf sa csa cvd sav dv dasc sa dasc sav dsvb sfv asdcv d bfd bds vsda vds vb dsv asv sa vdas vsd vb fdsb gtn tr nb sb</p>

<%- include("footer"); -%>